html,
body {
  margin: 0;
  padding: 0;
  min-width: 1380px;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-form-large .ant-form-item .ant-form-item-label {
  padding: 8px 0 4px;
}

.ant-form-large .ant-form-item .ant-form-item-label>label {
  height: 20px;
}

.ant-form fieldset {
  display: block;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.ant-form fieldset > legend {
  border: none;
  padding: 0 5px;
  width: auto;
  margin-bottom: 10px;
}

.ant-picker .ant-picker-input > input {
  text-align: center;
}

.ant-input-number-input {
  text-align: right !important;
  padding-right: 24px !important;
}

.ant-table-cell-row-hover {
  background: #d3e7ff !important;
}

.active-row > .ant-table-cell {
  background: #86b8ff !important;
}

.ant-pagination {
  align-items: center;
  padding-right: 20px;
}

.ant-input-number-readonly {
  background: transparent !important;
}

.ant-input-number-readonly:hover,
.ant-input-number-readonly:focus,
.ant-input-number-readonly:active {
  border-color: rgb(217, 217, 217) !important;
}