.sending-status {
  width: 200px;
  min-height: 24px;
}
.sending-status_active {
  cursor: pointer;
}

.sending-status__preview {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sending-status__car {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  gap: 5;
  flex-direction: row-reverse;
}

.sending-status__hover-text {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
  font-weight: 500;
  background: #fff;
  opacity: 0;
  transition: ease .3s opacity;
}
.sending-status:hover .sending-status__hover-text {
  opacity: 1;
}

.sending-status_creating .sending-status__car {
  left: 15px;
  flex-direction: row;
}
.sending-status_creating .sending-status__text {
  color: #141414;
}
.sending-status_creating .sending-status__progress-line {
  width: 0;
  background-color: #141414;
}
.sending-status_creating:hover .sending-status__progress-line {
  width: 50%;
  background-color: #4D89FF;
}

.sending-status_progress .sending-status__car {
  left: 63px;
}
.sending-status_progress .sending-status__text {
  color: #4D89FF;
}
.sending-status_progress .sending-status__progress-line {
  width: 50%;
  background-color: #4D89FF;
}
.sending-status_progress:hover .sending-status__progress-line {
  width: 100%;
  background-color: #009650;
}

.sending-status_done .sending-status__car {
  right: 15px;
}
.sending-status_done .sending-status__text {
  color: #009650;
}
.sending-status_done .sending-status__progress-line {
  width: 100%;
  background-color: #009650;
}
.sending-status_done:hover .sending-status__progress-line {
  width: 50%;
  background-color: #4D89FF;
}


.sending-status_pause .sending-status__car {
  right: 20px;
}
.sending-status_pause .sending-status__text {
  color: #FF3030;
}
.sending-status_pause .sending-status__progress-line {
  width: 90%;
  background-color: #FF3030;
}

.sending-status__text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

.sending-status__progress {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #D9D9D9;
  margin-top: 5px;
}

.sending-status__progress-line {
  transition: ease .3s all;
  height: 5px;
  border-radius: 2px;
}